{{ partial "head.html" . }}
<body>
   {{ partial "nav.html" . }}

    <section id="wrapper">
        <article class="post">
            <header>
                <h1>
                    {{ .Title }}
                </h1>

                {{ if eq .Type "post" }}
                    <h2 class="headline">
                        {{ .Date.Format "Jan 2, 2006" }}
                        &nbsp;&middot;&nbsp; {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                        &nbsp;&middot;&nbsp; {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
                        <span class="tags">
                            {{ with .Params.tags }}
                                {{ if ge (len .) 1 }}
                                    {{ range . }}
                                        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> &middot;
                                    {{ end }}
                                {{ end }}
                            {{ end}}
                        </span>
                    </h2>
                {{ end }}
            </header>
            {{ if .Site.Params.enableToc }}
              {{ if .TableOfContents }}
                <div id="toc">
                  {{ .TableOfContents }}
                </div>
              {{ end }}
            {{ end }}
            <section id="post-body">
                {{ .Content }}
                {{ if eq .Title "Search" }} {{ partial "search.html" }} {{ end }}
            </section>
        </article>

        {{ if eq .Type "post" }}
            <i class="fa fa-ellipsis-h page-separator" aria-hidden="true"></i>

            {{ if .Site.Params.enableGithubIssuesTips }}
                {{ partial "github-issues-tip.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDuoshuo }}
                {{ partial "duoshuo.html" . }}
            {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}
    </section>

    {{ partial "js.html" . }}
</body>
</html>